@import "tailwindcss";
@source "./src/**/*.{html,ts}";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-2xl: 1600px;
  --breakpoint-3xl: 2000px;

}

@plugin "daisyui"{
}
@source inline("tooltip-top tooltip-left");







@plugin "daisyui/theme" {
  name: "daily_services_ligth";
  default: true;
  prefersdark: true;
  color-scheme: "light";
  --color-base-100: oklch(98% 0.019 200.873);
  --color-base-200: oklch(95% 0.045 203.388);
  --color-base-300: oklch(91% 0.08 205.041);
  --color-base-content: oklch(26% 0.051 172.552);
  --color-primary: oklch(45% 0.085 224.283);
  --color-primary-content: oklch(97% 0.021 166.113);
  --color-secondary: oklch(44% 0.11 240.79);
  --color-secondary-content: oklch(98% 0.003 247.858);
  --color-accent: oklch(87% 0.01 258.338);
  --color-accent-content: oklch(13% 0.028 261.692);
  --color-neutral: oklch(30% 0.056 229.695);
  --color-neutral-content: oklch(97% 0.021 166.113);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(84% 0.143 164.978);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}















@plugin "daisyui/theme" {
  name: "daily_services_dark";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(29% 0.066 243.157);
  --color-base-200: oklch(39% 0.09 240.876);
  --color-base-300: oklch(44% 0.11 240.79);
  --color-base-content: oklch(95% 0.045 203.388);
  --color-primary: oklch(60% 0.126 221.723);
  --color-primary-content: oklch(98% 0.019 200.873);
  --color-secondary: oklch(71% 0.203 305.504);
  --color-secondary-content: oklch(26% 0.079 36.259);
  --color-accent: oklch(58% 0.158 241.966);
  --color-accent-content: oklch(97% 0.014 254.604);
  --color-neutral: oklch(44% 0.11 240.79);
  --color-neutral-content: oklch(98% 0.019 200.873);
  --color-info: oklch(54% 0.245 262.881);
  --color-info-content: oklch(97% 0.014 254.604);
  --color-success: oklch(59% 0.145 163.225);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(90% 0.182 98.111);
  --color-warning-content: oklch(42% 0.095 57.708);
   --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 1;
}







